.wrapper
    display: flex
    max-width: 1920px
    min-width: 800px
    max-height: 900px
    min-height: 400px
    
    .messages-wrapper
        width: 100%
    .users-aside
        width: 25%
        border: 1px solid black
        border-right: 0px
        header
            border-bottom: 1px solid black
        form
           display: flex
           flex-direction: column
    .chats-aside
        width: 25%
        border: 1px solid black
        border-right: 0px
        .chats
            display: flex
            .chats-user
                width: 100%
        header
            border-bottom: 1px solid black
        .user
            border: 0px 
    section
        border: 1px solid black
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: 898px
        width: 50%
        .chat-body 
            overflow-y: scroll
            max-height: 800px


.users
    overflow-y: scroll
    overflow-x: hidden
    height: 828px
    
    
.render-messages
    display: flex

.left
    justify-content: flex-start
    

.rigth
    justify-content: flex-end
   

